<!--<div id="particles-js">
    <div class="login-page" [@routerTransition] >
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-lg-4 terminador-login">
                <img src="assets/images/logo.png" width="150px"  />
                <h1>Sistema Administrativo Digital</h1>
                <form role="form" #formulario1="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="ParametrosLogin.Email" name="Email" class="form-control input-underline input-lg" id="Email" placeholder="Email" required>
                        </div>

                        <div class="form-group">
                            <input type="password" [(ngModel)]="ParametrosLogin.Pass" name="Pass" class="form-control input-underline input-lg" id="Pass" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around gupoBottom">
                        <button type="submit" class="btn rounded-btn"  > Log in </button>
                        <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<div class="main-w3layouts wrapper login-page">
     <div class="contenerdorVertical">
        <h1>World<span>ON</span></h1>
        <h2>Bienvenido a la Real Aventura</h2>
        <div class="main-agileinfo" [@routerTransition] >
            <div class="agileits-top">
                <form  role="form" #formulario1="ngForm" (ngSubmit)="onSubmit()">
                    <input class="text" type="text" [(ngModel)]="ParametrosLogin.Username" name="Username" id="Username" placeholder="Username" required="">
                    <input class="text" type="password" [(ngModel)]="ParametrosLogin.password" name="password" id="password" placeholder="Password" required="">
                    <!--<div class="wthree-text">
                        <label class="anim">
                            <input type="checkbox" class="checkbox" required="">
                            <span>I Agree To The Terms & Conditions</span>
                        </label>
                        <div class="clear"> </div>
                    </div>-->
                    <input type="submit" value="LOGIN">
                </form>
                <p>No tienes una cuenta aun?, <a [routerLink]="['/signup']"> <strong>Registrate Ahora!</strong></a></p>
            </div>
        </div>
        <!-- copyright -->
        <div class="w3copyright-agile">
            <p>© 2018 WorldON. All rights reserved | Design by <a href="http://creacionesjesebrito.com.ve/" target="_blank">Jese Brito For Epodo Creative Studio</a></p>
        </div>
        <!-- //copyright -->
        <ul class="w3lsg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
     </div>
</div>
