<div class="main-w3layouts2 wrapper2 login-page" >
    <h1>World<span>ON</span></h1>
    <h2>Lea esto Atentamente</h2>
    <div class="main-agileinfo" [@routerTransition]>
        <div class="agileits-top">
            <div class="container-fluid">
                <div class="row">
                    <p class="interno">
                        La informacion que se le provee en esta seccion es con el objetivo de que pueda entender mejor cuales son las posibilidades y maneras de uso actuales y futuras
                        de su cuenta WorlOn y así como de la Direccion de Monedero Tiempo que acaba de ser crear y asosiada permanentemente su cuenta WorlOn.
                    </p>
                    <p class="interno2 text-justify">

                        <span>&raquo; </span>Recuerde que por medio de esta via usted puede adquirir cantidades de nuestra criptomoneda "Tiempo", lo ideal es que acumule todo la cantidad de "Tiempo" que pueda  ya
                        que en el momento en que el Juego entre en actividad, este "Tiempo" almacenado pasara a representar directamente su estatus y rango dentro del Juego, y por supuesto a mayor rango mayores Beneficios.

                    </p>
                    <p class="interno2 text-justify">

                        <span>&raquo; </span>En cualquier momento usted puede hacer uso de su Tiempo acumulado desde el mismo momento en que lo adquiera y transferirlo o cambiarlo con cualquier otro usuario de la plataforma, y ademas enviar su tiempo en forma de "tiempoCash" a cualquir casa de cambio de
                        cripto divisas externa en cualquier momento (solo tenga presenta que el mecanismo automatico de cambion de "tiempo" a "tiempoCash" sera activado solo cuando el juego entre en actividad).

                    </p>
                    <p class="interno2 text-justify">

                        <span>&raquo; </span>Tiene que tener presente que si envia "Tiempo" a algun usuario o casa de cambio externa, este sera descontado de su ranking total, y eso puede repercutir de manera moderada en su reputacion dentro de la plataforma. En el caso de transferir "tiempo"
                        a alguna cuenta externa perteneciente a una casa de cambio, esta se transformara automaticamente en "TiempoCash" que es el token externo para propocito de traeding de nuestra plataforma, dicho activo fluctuara segun la demanda del mercado, pero el activo "TIEMPO" que es nuestro activo interno para la monetizacion dentro de la plataforma, siempre poseera un valor estable
                        y equivalente a 20  USD por "hora" de "Tiempo", al momento de transferir "Tiempo" a un mercado de traeding, se realizara automaticamente la convercion de "Tiempo" a su equivalente de "TiempoCash" segun sea su precio en el mercado en ese momento.

                    </p>
                    <p class="interno2 text-justify">

                        <span>&raquo; </span>Usted puede realizar todas sus transaciones dentro de la plataforma sin costa alguno ni cobro de comiciones por esta razon, por lo menos en esta fase inicial del proyecto, hemos tenido que limitar la cantidad de transacciones posibles por dia a 5 transacciones por dia
                        esto debido a que al ser una plataforma gratis de transferencia para el usuaro, no significa que lo sea tambien para nosotros los que creamos y mantenenos la plataforma, y es por esta razon que debemos mantenerla lo mejor posible sin exedernos para que todos puedan disfrutar por igual,
                        pero tranquilo esto solo sera en un comienzo, mientrar mas crescamos mas beneficios habra para nuestros usuarios.

                    </p>
                </div>
                <div class="row" style="margin-top: 20px; padding-bottom: 14px; justify-content: center;">
                    <button type="button" class="btn btn-success worldButtom" (click)="EnvioDataUser()">Entendido</button>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="w3copyright-agile">
        <p>© 2018 WorldON. All rights reserved | Design by <a href="http://creacionesjesebrito.com.ve/" target="_blank">Jese Brito For Epodo Creative Studio</a></p>
    </div>
    <!-- //copyright -->
    <ul class="w3lsg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<app-signup-final [ObservableModal]="EnvioDataUserRegistro" ></app-signup-final>
